<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/root.css">
    <link rel="stylesheet" href="../assets/styles/about_us.css">
</head>

<body>
    <section class="about_us">
        <img class="bg_txt" src="../assets/images/about_us.3.png" alt="">
        <div class="wrapper">
            <h6>
                <span>About Us</span> 大阪電子専門学校って？
            </h6>
            <div class="bg_line">
                <span>夢を現実にする最短ルート</span>
                <span>就職に強い専門学校 <img src="../assets/images/about_us.2.png" alt=""></span>
            </div>
            <p class="only_txt">
                大阪電子専門学校では、実践的なカリキュラムと最新の設備を通じて、<br> 学生一人ひとりをしっかりサポートします。<br> 2年間という短期間で、確かなスキルと知識を身につけ、業界での即戦力として <br> 活躍できるようになることはもちろん、卒業生はの多くは各業界優良企業へ就職をしています。あなたも大阪電子専門学校でプロへの道をスタートさせ、優良企業の内定をつかみましょう。
            </p>

            <div class="for_img">
                <img src="../assets/images/about_us.4.png" alt="">
            </div>
        </div>
    </section>
</body>

</html>