<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="stylesheet" href="../assets/styles/banner-left.css" />
<link rel="stylesheet" href="../assets/styles/root.css" />
</head>

<body>
<div class=" banner-wrapper-left">
<a  target="_blank" href="https://twitter.com/OEC0043?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../assets/icons/x.svg" alt="" /></a>
<div class="banner-line-left"></div>
<a  target="_blank" href="https://www.instagram.com/osakadenshi_1946/"><img src="../assets/icons/instagram.svg" alt="" /></a>
<div class="banner-line-left"></div>
<a  target="_blank" href="https://page.line.me/iao1273m?openQrModal=truez" ><img src="../assets/icons/line.svg" alt="" /></a>
<div class="banner-line-left"></div>
<a  target="_blank" href="https://www.youtube.com/channel/UCH7Gtwxo_3McNsJ1SJkwzPA"><img src="../assets/icons/youtube.svg" alt="" /></a>
</div>


<script src="../js/banner.js"></script>
</body>

</html>