<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>colurfull</title>

<link rel="stylesheet" href="../assets/styles/root.css" />
<link rel="stylesheet" href="../assets/styles/colurfull-btns.css" />

</head>

<body>

<section class="colorfull-btns">
    <div class="scroll-container">
        <div class="scroll-item">
            <div class="image-container">
                <img src="./assets/images/clb-1.png" alt="Laptop Icon" class="item-image">
            </div>
            <div class="texts-scroll-item">
                <p class="texts-scroll-item-title">転職サポート</p>
                <p>高い合格率を実現する強力なバックアップ体制</p>
            </div>
            <div class="icon-container">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                            stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </div>
        </div>

        <div class="scroll-item">
            <div class="image-container">
                <img src="./assets/images/clb-2.png" alt="Pamphlet Icon" class="item-image">
            </div>
            <div class="texts-scroll-item">
                <p class="texts-scroll-item-title">パンフレット</p>
                <p>大阪電子専門学校のパンフレットをお届け！資料請求はこちらから。</p>
            </div>
            <div class="icon-container">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                            stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </div>
        </div>

        <div class="scroll-item">
            <div class="image-container">
                <img src="./assets/images/clb-3.svg" alt="Graduation Icon" class="item-image">
            </div>
            <div class="texts-scroll-item">
                <p class="texts-scroll-item-title">卒業生インタビュー</p>
                <p>様々な分野で活躍する、先輩たちの"現在"をインタビュー。</p>
            </div>
            <div class="icon-container">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                            stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </div>
        </div>

        <div class="scroll-item">
            <div class="image-container">
                <img src="./assets/images/clb-4.png" alt="LINE Icon" class="item-image">
            </div>
            <div class="texts-scroll-item">
                <p class="texts-scroll-item-title">LINE相談</p>
                <p>ひと足先に学びに相談できるチャンス！</p>
            </div>
            <div class="icon-container">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                            stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </div>
        </div>

        <div class="scroll-item">
            <div class="image-container">
                <img src="./assets/images/clb-1.png" alt="Laptop Icon" class="item-image">
            </div>
            <p class="texts-scroll-item-title"></p>人 X AI X ROBOT</p>
            <p>人 X AI X ROBOT分野で活躍が期待される職業がたくさん！</p>
            <div class="icon-container">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                            stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </div>
        </div>

    </div>
    <div class="custom-scrollbar">
        <div class="custom-scrollbar-thumb"></div>
    </div>
</section>

<script src="../js/colurfull.js"></script>
</body>

</html>