<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/column.css" />
    <title>Document</title>
</head>

<body>

    <div class="column">
        
        <div class="column_wrapper">
            <div class="top_part">

                <div class="titles">
                    <div class="big_title">
                        <h2>COLUMN</h2>
                        <img src="../assets/icons/yulduzcha.svg" alt="" />
                    </div>
                    <div class="subtitle">
                        <p>大阪電子専門学校コラム</p>
                    </div>
                </div>

                <a href="#">
                    <button>😀一覧を見る<span> → </span></button>
                </a>
            </div>


            <div class="card_wrapper">

                <div class="cart">
                    <div class="top">
                        <img src="../assets/images/teacher.svg" alt="">
                    </div>
                    <div class="middle">
                        <div class="date">
                            <p>2024.03.15</p>
                        </div>
                        <div class="tag"><a href="artelgroup.org">情報エンジニア科【IT領域】</a></div>
                    </div>
                    <div class="bottom">
                        <p>OECのキャンパスで異文化交流が実現！OECのキャンパスで異文化交流が実現！</p>
                    </div>
                </div>

                <div class="cart">

                    <div class="top">
                        <img src="../assets/images/worker.svg" alt="">
                    </div>
                    <div class="middle">
                        <div class="date">
                            <p>2024.03.15</p>
                        </div>
                        <div class="tag"><a href="artelgroup.org">情報エンジニア科【IT領域】</a></div>
                    </div>
                    <div class="bottom">
                        <p>電気設備コースから目指せる職業の種類をご紹介します。電気工事士や電気工事施工管理などの電気業界の様々な仕事を集めたお仕事図鑑です。</p>
                    </div>

                </div>

                <div class="cart">
                    <div class="top">
                        <img src="../assets/images/students.svg" alt="">
                    </div>
                    <div class="middle">
                        <div class="date">
                            <p>2024.03.15</p>
                        </div>
                        <div class="tag"><a href="artelgroup.org">情報エンジニア科【IT領域】</a></div>
                    </div>
                    <div class="bottom">
                        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
                    </div>
                </div>


                <div class="cart">
                    <div class="top">
                        <img src="../assets/images/smile_girl.svg" alt="">
                    </div>
                    <div class="middle">
                        <div class="date">
                            <p>2024.03.15</p>
                        </div>
                        <div class="tag"><a href="artelgroup.org">情報エンジニア科【IT領域】</a></div>
                    </div>
                    <div class="bottom">
                        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
                    </div>
                </div>

                <div class="cart">
                    <div class="top">
                        <img src="../assets/images/VR.svg" alt="">
                    </div>
                    <div class="middle">
                        <div class="date">
                            <p>2024.03.15</p>
                        </div>
                        <div class="tag"><a href="artelgroup.org">情報エンジニア科【IT領域】</a></div>
                    </div>
                    <div class="bottom">
                        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
                    </div>
                </div>


                <div class="cart">
                    <div class="top">
                        <img src="../assets/images/hacker.svg" alt="">
                    </div>
                    <div class="middle">
                        <div class="date">
                            <p>2024.03.15</p>
                        </div>
                        <div class="tag"><a href="artelgroup.org">情報エンジニア科【IT領域】</a></div>
                    </div>
                    <div class="bottom">
                        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
                    </div>
                </div>




            </div>
        </div>
    </div>
</body>

</html>