<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department/Course Introduction</title>
    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/Department.css" />

</head>


<body>

    <section class="department-courses-main">
        <div class="department-courses">
            <div class="top-title-dc">
                <p>Department/Course</p>
                <h2>全学科・コース紹介 <span>🪄</span></h2>
            </div>

            <div class="dc-course-cards">

                <div class="card-dc">
                    <div class="card-image-dc">
                        <div class="img-box-dc">
                            <img src="../assets/images/card-first-image.svg" alt="IT Engineering" />
                        </div>
                        <div class="card-content-dc">
                            <h3>情報エンジニア科 <span>IT領域</span></h3>
                            <p>IT社会の即戦力となれる一流の <br>「エンジニア」へ</p>
                        </div>
                        <div class="plus-button-dc-box">
                            <div class="plus-sign horizontal"></div>
                            <div class="plus-sign vertical"></div>
                        </div>

                    </div>

                    <div class="cards-box-footer-dc">

                        <a class="card-footer-dc">
                            <p><span>💻</span>ITコース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/file.svg" alt=""></span>ネットワークコース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/key.svg" alt=""></span>パソコンメンテコース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                    </div>
                </div>

                <div class="card-dc">
                    <div class="card-image-dc">
                        <div class="img-box-dc">
                            <img src="../assets/images/card-second-image.svg" alt="IT Engineering" />
                        </div>
                        <div class="card-content-dc">
                            <h3>情報エンジニア科 <span>デザイン領域</span></h3>
                            <p>IT社会の即戦力となれる一流の <br>「エンジニア」へ</p>
                        </div>
                        <div class="plus-button-dc-box">
                            <div class="plus-sign horizontal"></div>
                            <div class="plus-sign vertical"></div>
                        </div>

                    </div>

                    <div class="cards-box-footer-dc">

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/game.svg" alt=""></span>プロダクトデザインコース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/boy.svg" alt=""></span>WEBデザインコース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/girl.svg" alt=""></span>グラフィックデザインコース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                    </div>
                </div>
                <div class="card-dc">
                    <div class="card-image-dc">
                        <div class="img-box-dc">
                            <img src="../assets/images/card-third-image.svg" alt="IT Engineering" />
                        </div>
                        <div class="card-content-dc">
                            <h3>電子工学科</h3>
                            <p>ロボットから家電、音響まで幅広く学べ、 <br>資格サポートも万全！</p>
                        </div>
                        <div class="plus-button-dc-box">
                            <div class="plus-sign horizontal"></div>
                            <div class="plus-sign vertical"></div>
                        </div>

                    </div>

                    <div class="cards-box-footer-dc">

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/robot2.svg" alt=""></span>ロボットコース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/robo.svg" alt=""></span>電子コース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/tv.svg" alt=""></span>家電サービスコース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/setelite.svg" alt=""></span>情報通信コース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                    </div>
                </div>
                <div class="card-dc">
                    <div class="card-image-dc">
                        <div class="img-box-dc">
                            <img src="../assets/images/card-fourth-image.svg" alt="IT Engineering" />
                        </div>
                        <div class="card-content-dc">
                            <h3>電子工学科</h3>
                            <p>IT社会の即戦力となれる一流の <br>「エンジニア」へ</p>
                        </div>
                        <div class="plus-button-dc-box">
                            <div class="plus-sign horizontal"></div>
                            <div class="plus-sign vertical"></div>
                        </div>

                    </div>

                    <div class="cards-box-footer-dc">

                        <a class="card-footer-dc">
                            <p><span><img src="../assets/icons/last.svg" alt=""></span>電気設備コース</p>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        </a>

                    </div>
                </div>

            </div>
            
        </div>
    </section>

</body>

</html>