<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department/Course Introduction</title>
    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/faq.css" />

<body>


    <section class="faq-section">
        <div class="faq-title">
            <div class="title-box-faq">
                <p>FAQ</p>
                <h3>よくあるご質問 📝</h3>
            </div>
            <a href="#" class="faq-list-btn">
                <p>
                    <span>😃</span>
                    一覧を見る
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#FFFFFF" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.5 12H20.33" stroke="#FFFFFF" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>


            </a>
        </div>

        <div class="faq-items">

            <div class="faq-item">
                <div class="question">
                    <div class="question-text">
                        <span class="q-label">Q.</span>
                        <p>親元を離れて暮らすことになりますが、下宿先は紹介してもらえるのですか。</p>
                    </div>
                    <div class="faq-toggle-button">
                        <div class="plus-sign-faq horizontal-faq"></div>
                        <div class="plus-sign-faq vertical-faq"></div>
                    </div>
                </div>
                <div class="answer">
                    <p>遠隔地から入学を希望される人のために、学校指定の専門業者をご紹介しています。リーズナブルな賃貸料と良好な環境に配慮し、近隣で最適な学生マンションや下宿先（食事付き）を斡旋いたします。初めての大阪での暮らしも安心です。
                    </p>
                </div>
            </div>

            <div class="faq-item">
                <div class="question">
                    <div class="question-text">
                        <span class="q-label">Q.</span>
                        <p>親元を離れて暮らすことになりますが、下宿先は紹介してもらえるのですか。</p>
                    </div>
                    <div class="faq-toggle-button">
                        <div class="plus-sign-faq horizontal-faq"></div>
                        <div class="plus-sign-faq vertical-faq"></div>
                    </div>
                </div>
                <div class="answer">
                    <p>遠隔地から入学を希望される人のために、学校指定の専門業者をご紹介しています。リーズナブルな賃貸料と良好な環境に配慮し、近隣で最適な学生マンションや下宿先（食事付き）を斡旋いたします。初めての大阪での暮らしも安心です。
                    </p>
                </div>
            </div>

            <div class="faq-item">
                <div class="question">
                    <div class="question-text">
                        <span class="q-label">Q.</span>
                        <p>親元を離れて暮らすことになりますが、下宿先は紹介してもらえるのですか。</p>
                    </div>
                    <div class="faq-toggle-button">
                        <div class="plus-sign-faq horizontal-faq"></div>
                        <div class="plus-sign-faq vertical-faq"></div>
                    </div>
                </div>
                <div class="answer">
                    <p>遠隔地から入学を希望される人のために、学校指定の専門業者をご紹介しています。リーズナブルな賃貸料と良好な環境に配慮し、近隣で最適な学生マンションや下宿先（食事付き）を斡旋いたします。初めての大阪での暮らしも安心です。
                    </p>
                </div>
            </div>

            <div class="faq-item">
                <div class="question">
                    <div class="question-text">
                        <span class="q-label">Q.</span>
                        <p>親元を離れて暮らすことになりますが、下宿先は紹介してもらえるのですか。</p>
                    </div>
                    <div class="faq-toggle-button">
                        <div class="plus-sign-faq horizontal-faq"></div>
                        <div class="plus-sign-faq vertical-faq"></div>
                    </div>
                </div>
                <div class="answer">
                    <p>遠隔地から入学を希望される人のために、学校指定の専門業者をご紹介しています。リーズナブルな賃貸料と良好な環境に配慮し、近隣で最適な学生マンションや下宿先（食事付き）を斡旋いたします。初めての大阪での暮らしも安心です。
                    </p>
                </div>
            </div>

        </div>

        <div class="faq-title-2">
            <a href="#" class="faq-list-btn-2">
                <p>
                    <span>😃</span>
                    一覧を見る
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#FFFFFF" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.5 12H20.33" stroke="#FFFFFF" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </a>
        </div>

    </section>



    <script src="../js/faq.js"></script>

</body>

</html>