<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department/Course Introduction</title>
    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/feature.css" />

</head>

<body>


    <section class="features-main">
        <div class="features">
            <div class="top-title-f">
                <p>Feature</p>
                <h2>大阪電子専門学校が<br>選ばれる理由 <span>🙌</span></h2>
            </div>
            <div class="feature-cards">

                <div class="card-f">
                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/f-1.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>01</span>
                            <p>資格取得・希望就職率</p>
                            <h3>100%！</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            熱心なサポートで、なんと資格取得率は100%！希望就職率100%！個々の目標に焦点を当て、さまざまな資格を取得し、学生と企業のベストマッチングを実現します。
                        </p>
                    </div>
                </div>

                <div class="card-f">
                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/f-2.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>02</span>
                            <p>サポート体制が</p>
                            <h3>充実！</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            本校の講師陣は、専門知識と経験豊富な指導者による個別指導と資格取得支援、キャリアサポート、そして人格教育を通じて、学生の総合的な能力向上のために全力を尽くします。                        </p>
                    </div>
                </div>

                <div class="card-f">
                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/f-3.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>03</span>
                            <p>社会で活躍中の</p>
                            <h3>卒業生がたくさん</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            専門知識と実践的なスキルを身につけた卒業生たちは、本校での学びを活かし社会で活躍中しています。                        </p>
                    </div>
                </div>


                <div class="card-f">
                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/f-4.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>04</span>
                            <p>最先端の学習環境！</p>
                            <h3>充実で学べる設備</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            本校では、実際の現場に近い最新の設備・機材・ソフトを備えた環境を整えており、
                            最新の技術と知識が学べるとともに社会で役立つ実践的なスキルが磨けます。                        </p>
                    </div>
                </div>

                <div class="card-f">

                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/f-5.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>05</span>
                            <p>毎年増える大学への</p>
                            <h3>編入実績</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            本校で身につけた実践的なスキルに加え、大学でさらに専門性を深めたいと考える人のために大学への編入学をサポート。国公立大学への進学実績も豊富です。%！希望就職率100%！個々の目標に焦点を当て、さまざまな資格を取得し、学生と企業のベストマッチングを実現します。
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>

</body>

</html>