<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/root.css">
    <link rel="stylesheet" href="../assets/styles/first_view.css">
</head>

<body>
    <section class="first_view">
        <div class="video_container"></div>
        <video autoplay muted loop>
            <source src="../assets/movie/top.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="text_container">
            <img src="../assets/images/first_view.svg" alt="">
            <p>
                人格と技術を兼ね備えたエンジニアへ
            </p>
        </div>
        </div>
    </section>
</body>

</html>