<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- root style -->
    <link rel="stylesheet" href="../assets/styles/root.css">
    <!-- banner style -->
    <link rel="stylesheet" href="../assets/styles/fixed_bar.css">
</head>

<body>
    <section class="banner">
        <div class="wrapper">
            <img src="../assets/images/banner.1.svg" alt="" class="bg_img">
            <div class="for_txt">
                <h6>
                    <span class="txt1">ITとデザインの融合</span>
                    <span class="txt2">人×AI×ROBOT <img src="../assets/images/banner_icon.2.png" alt="#"></span>
                    <span class="txt3">WE FOSTER TALENTS TO PIONEER THE FUTURE IT SOCIETY ALONGSIDE ARTIFICIAL INTELLIGENCE</span>
                </h6>
                <p>
                    大阪電子専門学校では、グローバル社会の一員として、<br> 人格と技術を兼ね備えたエンジニアを輩出します！
                    <br> 人×AI × ロボット分野で活躍が期待される職業がたくさん！
                </p>
                <a href="#" class="btn">
                    <img class="icons_1" src="../assets/images/banner_icon.png" alt="#"> 詳しく見る
                    <img class="icons_2" src="../assets/images/banner_icon.3.png" alt="">
                </a>
            </div>
        </div>
    </section>
</body>

</html>