<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <link rel="stylesheet" href="../assets/styles/root.css">
</head>
<body>
    <!-- footer started here -->

    <div class="footer-container">
        <div class="footer-top">
          <div class="footer-top-content">
            <img src="../assets/images/footer-top-text.png" alt="">
            <h3>人格と技術を兼ね備えたエンジニアへ</h3>
            <p>Osaka Electronics Professional Traning College</p>
            <a class="footer-btn" href="#"><img class="heart-icon" src="../assets/icons/heart.svg" alt="">LINEでご相談</a>
          </div>
        </div>
  
        <div class="footer-bottom">
          <div class="footer-bottom-up">
            <div class="up-left">
              <img src="../assets/images/Ci-color-white.svg" alt="" />
              <p>
                大阪電子専門学校 〒543-0043 大阪府大阪市天王寺区勝山4丁目5-6 TEL
                06-6779-8484
              </p>
              <div class="footer-banner">
                <div class="footer-banner-left">
                  <h4>オープンキャンパス</h4>
                  <h5>ひと足先に学びに触れることが できるチャンス！</h5>
                  <a href=""><img class="arrow-white" src="../assets/icons/arrow-down-left-white.svg" alt="" /></a>
                </div>
                <div class="footer-banner-right">
                  <img src="../assets/images/Frame 1.svg" alt="">
                </div>
              </div>
            </div>
  
            <div class="up-right">
              <ul>
                <li>
                  <a class="first-link" href="">選ばれる理由 </a>
                  <a href="">人×AI×ロボット</a>
                  <a href="">講師陣のサポート</a>
                  <a href="">心と技術を育てる教育理念</a>
                  <a href="">資格合格・就職実績</a>
                  <a href="">卒業生インタビュー</a>
                  <a href="">設備環境</a>
                  <a href="">編入実績</a>
                </li>
                <li>
                  <a class="first-link" href="">情報エンジニア学科 <span>IT領域</span></a>
                  <a href="">ITコース</a>
                  <a href="">パソコンメンテコース</a>
                  <a href="">ネットワークコース</a>
                  <a class="first-link" href="">情報エンジニア学科 <span>デザイン領域</span></a>
                  <a href="">プロダクトデザインコース</a>
                  <a href="">Webデザインコース</a>
                  <a href="">グラフィックデザインコース</a>
                </li>
                <li>
                  <a class="first-link" href="">電子工学科	</a>
                  <a href="">ロボットコース</a>
                  <a href="">電子コース</a>
                  <a href="">家電サービスコース</a>
                  <a href="">情報通信コース</a>
                  <a class="first-link" href="">電気設備科</a>
                  <a href="">電気設備コース</a>
                </li>
                <li>
                  <a class="first-link" href="">資格取得・就職支援	</a>
                  <a href="">資格取得</a>
                  <a href="">就職支援</a>
                  <a class="first-link" href="">入学・学費案内	</a>
                  <a href="">AO入試	</a>
                  <a href="">一般入学	</a>
                  <a href="">留学生の方へ	</a>
                  <a href="">学費	</a>
                  <a href="">学費減額制度	</a>
                  <a href="">各種奨学金制度・学割	</a>
                  <a href="">入学までの流れ	</a>
                </li>
              </ul>
  
              <div class="up-right-down">
                <ul>
                  <li><a href="">資料請求</a></li>
                  <li><a href="">新着情報</a></li>
                  <li><a href="">コラム</a></li>
                  <li><a href="">学校情報</a></li>
                  <li><a href="">よくあるご質問</a></li>
                  <li><a href="">アクセス</a></li>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="footer-line"></div>
  
          <div class="footer-bottom-down">
            <div class="down-left">
              <ul>
                <li><a href="">高校１・2年生の皆様へ</a></li>
                <li><a href="">保護者の皆様へ</a></li>
                <li><a href="">再進学をお考えの方へ</a></li>
                <li><a href="">卒業生の方へ</a></li>
                <li><a href="">留学生の皆さんへ</a></li>
                <li><a href="">企業採用担当者の方へ</a></li>
              </ul>
            </div>
  
            <div class="down-right">
              <div class="footer-search">
                <img class="search-icon" src="../assets/icons/3844432_magnifier_search_zoom_icon.svg" alt="Search Icon" />
                <input type="text" placeholder="サイト内検索" />
              </div>
            </div>
          </div>
  
          <div class="footer-bottom-copyright">
            <p>© Osaka Electronics Professional Training College</p>
            <ul>
              <li><a href="">教員採用について</a></li>
              <li><a href="">サイトポリシー</a></li>
              <li><a href="">サイトマップ</a></li>
            </ul>
          </div>  
        </div>
      </div>
  
      <!-- footer ended here -->
</body>
</html>