<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department/Course Introduction</title>
    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/news.css" />

<body>


    <section class="news-section">

        <div class="news-title">
            <div class="title-box-news">
                <h3>NEWS <span>💬</span></h3>
                <p>大阪電子専門学校からのお知らせ</p>
            </div>
            <a href="#" class="news-list-btn">
                <p>
                    <span>😃</span> 一覧を見る
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#FFFFFF" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.5 12H20.33" stroke="#FFFFFF" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>

        <div class="news-main-content">

            <div class="news-links-top">
                <a href="#">すべて</a>
                <a href="#">重要なお知らせ</a>
                <a href="#">お知らせ</a>
                <a href="#">入試情報</a>
                <a href="#">オープンキャンパス情報</a>
            </div>

            <div class="news-items">
                <div class="news-item">
                    <div class="news-items-left">
                        <span>2024.03.15</span>
                        <a href="#">重要なお知らせ</a>
                    </div>
                    <p>【一般入試出願締め切り間近！】</p>
                </div>

                <div class="news-item">
                    <div class="news-items-left">
                        <span>2024.03.15</span>
                        <a href="#">お知らせ</a>
                    </div>
                    <p>プロダクトデザインコース卒業制作その2</p>
                </div>

                <div class="news-item">
                    <div class="news-items-left">
                        <span>2024.03.15</span>
                        <a href="#">入試情報</a>
                    </div>
                    <p>【3学期末パーティー✨】</p>
                </div>

                <div class="news-item">
                    <div class="news-items-left">
                        <span>2024.03.15</span>
                        <a href="#">入試情報</a>
                    </div>
                    <p>1月15日(土)オープンキャンパス予約受付中！</p>
                </div>

                <div class="news-item">
                    <div class="news-items-left">
                        <span>2024.03.15</span>
                        <a href="#">オープンキャンパス情報</a>
                    </div>
                    <p>プレ授業を開催しました!次回12月7日(土)オープンキャンパス予約受付中！</p>
                </div>
            </div>

        </div>

        <div class="news-title-2 ">
            <a href="#" class="news-list-btn-2">
                <p>
                    <span>😃</span> 一覧を見る
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#FFFFFF" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.5 12H20.33" stroke="#FFFFFF" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>

    </section>




    <script src="../js/faq.js"></script>

</body>

</html>