<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- root style -->
    <link rel="stylesheet" href="../assets/styles/root.css">
    <!-- open_campus style -->
    <link rel="stylesheet" href="../assets/styles/open_campus.css">
</head>

<body>
    <!-- <section class="open_campus">
        <img src="../assets/images/open_campus.1.png" alt="" class="bg_img">
        
    </section> -->
    <section class="open-campus">
        <div class="wrapper">
            <h4 class="highlight"> まずは、オープンキャンパスに参加しよう！</h4>
            <!-- <div class="header-text">
                <h4><span >まずは、オープンキャンパスに参加しよう！</span></h4>
            </div> -->

            <div class="image-row">
                <img src="../assets/images/open_campus.png" alt="Person 1" class="person person-1">
            </div>

            <div class="center-card">
                <p class="card-top">ひと足先に学びに触れることができるチャンス！</p>

                <div class="next-event">
                    <span class="txt1">NEXT </span>8/24 <span class="txt2">土</span> <span class="txt3">13:30〜16:00</span>
                </div>

                <div class="event-info">
                    <button class="sign-up-button">参加申し込み</button>
                </div>
            </div>
        </div>
    </section>


</body>

</html>