<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- root style -->
    <link rel="stylesheet" href="../assets/styles/root.css">
    <!-- open_campus style -->
    <link rel="stylesheet" href="../assets/styles/open_campus.css">
</head>

<body>
    <div class="image_container">

        <img src="../assets/images/open_campus.jpg" alt="" class="img_for_pc">
        <img src="../assets/images/open_campus_mbl.png" alt="" class="img_for_mbl">
        <a href="#apply" class="link_button apply"></a>
        <a href="#schedule" class="link_button schedule"></a>

      </div>
</body>

</html>