<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/styles/root.css" />
  <link rel="stylesheet" href="../assets/styles/two_cards.css" />
  <title>Document</title>
</head>

<body>

  <section class="two_cards">
    <div class="tc_wrapper">

      <div class="kard" id="bir">
        
        <div class="in_kard">
          <div class="taytl">
            <div class="op_tit">
              <h2>Entry & Scholarship</h2>
            </div>
            <div class="nop_tit">
              <h2>入学・学費案内</h2>
            </div>
          </div>
          <div class="xtxs">
            <p>
              入学制度は一人ひとりのバックグラウンドに応じて<br />多様なニーズに沿ったシステムを用意しています。
            </p>
          </div>
        </div>

        <div class="plus-button-tc-box">
          <div class="plus-sign-tc horizontal-tc"></div>
          <div class="plus-sign-tc vertical-tc"></div>
        </div>
      </div>

      <div class="kard" id="ikki">
        <div class="in_kard">
          <div class="taytl">
            <div class="op_tit">
              <h2>School Guide Book</h2>
            </div>
            <div class="nop_tit">
              <h2>資料請求</h2>
            </div>
          </div>
          <div class="xtxs">
            <p>
              無料でパンフレットをお届け！ご希望の学科に関する詳細情報を確認できます。
              資料請求はこちらから。
            </p>
            <div class="image">
              <img src="../assets/images/manga.svg" alt="Manga Illustration" />
            </div>
          </div>
        </div>
        <div class="plus-button-tc-box">
          <div class="plus-sign-tc horizontal-tc"></div>
          <div class="plus-sign-tc vertical-tc"></div>
        </div>
      </div>
    </div>
  </section>
  
</body>

</html>