<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/styles/view.css" />
  <link rel="stylesheet" href="../assets/styles/root.css" />

  <title>Document</title>
</head>

<body>

  <div class="viewers">
    <div class="view_wrap">
      
      <div class="title">
        <div class="blinfo">
          <div class="blue">
            <p>Information</p>
          </div>
          <h1>当サイトを訪れてくださった皆様へ 👋🏻</h1>
        </div>
        <p>
          ご訪問者様に合わせて必要な情報やサイトコンテンツをピックアップしました!
        </p>
      </div>

      <div class="slider">
        <div class="sl_cont" id="one">
          <div class="txtNbtn">
            <div class="txt">
              <p>「好き」を探している</p>
              <h2>高校１・2年生の皆様へ</h2>
            </div>

            <div class="card">
              <a href="https://artelgroup.org/"><button class="dropbtn">+</button></a>
            </div>
          </div>
        </div>

        <div class="sl_cont" id="two">
          <div class="txtNbtn">
            <div class="txt">
              <p>大阪電子専門学校に興味がある</p>
              <h2>保護者の皆様へ</h2>
            </div>

            <div class="card">
              <a href="https://artelgroup.org/"><button class="dropbtn">+</button></a>
            </div>
          </div>
        </div>

        <div class="sl_cont" id="three">
          <div class="txtNbtn">
            <div class="txt">
              <p>再び挑戦したい！</p>
              <h2>再進学をお考えの方へ</h2>
            </div>

            <div class="card">
              <a href="https://artelgroup.org/"><button class="dropbtn">+</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="stud_rel">
        <div class="btn_wrapper">
          <div class="bttns">
            <div class="btn_txt">
              <span id="icons">🎓</span>
              <p>卒業生の方へ</p>
            </div>
            <button><a href="#">→</a></button>
          </div>
          <div class="bttns">
            <div class="btn_txt">
              <span id="icons">🌍</span>
              <p>留学生の皆さんへ</p>
            </div>
            <button><a href="#">→</a></button>
          </div>
          <div class="bttns">
            <div class="btn_txt">
              <span id="icons">🏢</span>
              <p>企業採用担当者様へ</p>
            </div>
            <button><a href="#">→</a></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
<script src="../js/drodwn.js"></script>

</html>
